services:
  postgres:
    image: postgres:18.2-bookworm
    networks:
      - internal
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d wagtail"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: valkey/valkey:9.0.2-alpine
    networks:
      - internal
    command: ["valkey-server", "--appendonly", "yes", "--requirepass", "${REDIS_PASSWORD}"]
    volumes:
      - redis_data:/data

  django:
    image: ghcr.io/22mahmoud/mahmoudashraf.dev:latest
    networks:
      - internal
    entrypoint: ["/bin/sh", "/app/bin/django-entrypoint.sh"]
    env_file:
      - .env
    depends_on:
      - postgres
      - redis

  celery:
    image: ghcr.io/22mahmoud/mahmoudashraf.dev:latest
    networks:
      - internal
    env_file:
      - .env
    command:
      - celery
      - '-A'
      - src.tasks
      - worker
      - '-l'
      - INFO
      - '--without-gossip'
      - '--without-mingle'
      - '--without-heartbeat'
    depends_on:
      - django
      - postgres
      - redis

  celery_beat:
    image: ghcr.io/22mahmoud/mahmoudashraf.dev:latest
    networks:
      - internal
    env_file:
      - .env
    command:
      - celery
      - '-A'
      - src.tasks
      - beat
      - '-l'
      - INFO
      - '--scheduler'
      - 'django_celery_beat.schedulers:DatabaseScheduler'
    depends_on:
      - django
      - postgres
      - redis

  nginx:
    image: ghcr.io/22mahmoud/mahmoudashraf.dev-nginx:latest
    networks:
      - caddy
      - internal
    env_file:
      - .env
    labels:
      caddy: mahmoudashraf.dev
      caddy.reverse_proxy: "{{upstreams 80}}"
    depends_on:
      - django

networks:
  internal:
    driver: bridge
  caddy:
    external: true

volumes:
  postgres_data:
  redis_data:
