services:
  # postgres:
  #   image: postgres:16-alpine
  #   environment:
  #     POSTGRES_DB: wagtail
  #     POSTGRES_USER: postgres
  #     POSTGRES_PASSWORD: postgres
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data
  #   healthcheck:
  #     test: ["CMD-SHELL", "pg_isready -U postgres -d wagtail"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5

  # redis:
  #   image: redis:7-alpine
  #   command: ["redis-server", "--appendonly", "yes"]
  #   volumes:
  #     - redis_data:/data

  django:
    image: ghcr.io/22mahmoud/mahmoudashraf.dev:latest
    entrypoint: ["/bin/sh", "/app/bin/django-entrypoint.sh"]
    # env_file:
    #   - .env
    # depends_on:
    #   - postgres
    #   - redis

  celery:
    image: ghcr.io/22mahmoud/mahmoudashraf.dev:latest
    # env_file:
    #   - .env
    command:
      - celery
      - '-A'
      - src.tasks
      - worker
      - '-l'
      - INFO
      - '--without-gossip'
      - '--without-mingle'
      - '--without-heartbeat'
    depends_on:
      - django
      # - postgres
      # - redis

  celery_beat:
    image: ghcr.io/22mahmoud/mahmoudashraf.dev:latest
    # env_file:
    #   - .env
    command:
      - celery
      - '-A'
      - src.tasks
      - beat
      - '-l'
      - INFO
      - '--scheduler'
      - 'django_celery_beat.schedulers:DatabaseScheduler'
    depends_on:
      - django
      # - postgres
      # - redis

  nginx:
    image: ghcr.io/22mahmoud/mahmoudashraf.dev-nginx:latest
    # ports:
    #   - 80:80
    # env_file:
    #   - .env
    depends_on:
      - django

# volumes:
#   postgres_data:
#   redis_data:
